:root {
  --spacing-1: 4px;
  --spacing-3: calc(var(--spacing-1) * 3);
  --spacing-2: calc(var(--spacing-1) * 2);
  --spacing-4: calc(var(--spacing-1) * 4);
  --spacing-5: calc(var(--spacing-1) * 5);
  --spacing-6: calc(var(--spacing-1) * 6);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.text-small {
  color: hsl(0 0% 40%);
}

.message-list {
  display: flex;
  padding: var(--spacing-2);
  flex-direction: column;
  gap: var(--spacing-2);
}

.message,
.reply {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  padding: var(--spacing-1);
  border-radius: 4px;
  border: 1px solid hsl(0 0% 0%);
}

.message__text {
  margin: 0;
  font-size: 1.5rem;
}

.message__id,
.reply__id {
  position: absolute;
  top: var(--spacing-1);
  right: var(--spacing-1);
}

.reply-list {
  margin-left: var(--spacing-6);
}

.reply__text {
  margin: 0;
  font-size: 1.25rem;
}
